*{
  margin:0;
  padding: 0;
  text-decoration: none;
}
.container{
  display: flex;
}
main{
  width:100%;
  padding: 20px;
}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: yellow;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  background: lightskyblue;
}
.inActive{
  display: flex;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  color: white;
}
.link:hover{

  color:#000;
}
.icon, .link_text{
  font-size: 20px;
}

.image-container {
  display: flex;
  align-items: center; 
  column-gap: 5px;
  padding: 10px;
 }
 
 img {
   width: 58px;
   height:64px;
 }
 
 .text {
   font-size: 10px;
   font-weight: 400;
   line-height: 28px;
   align-items: center;
 }

 .div-container {
  max-width: 40em;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
}

.tooltip {
  position: fixed;
  pointer-events: none;
  padding: 0.75em;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 1em 0 rgba(0, 0, 0, 0.15);
  animation: fade-in 0.25s ease;
  font-size: 0.9em;
}
.tooltip__title {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.tooltip__table {
  border-collapse: collapse;
}
.tooltip__table td {
  border: 1px solid;
  padding: 0.25em;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9) translate(-0.5em, -0.5em);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}

.card-container{
  width: 600px;
  height: 500px;
  margin: 20px;
  background-color: aqua;
}
.frame-container{
  padding:20px;
}
